<div class="page-container"
    *ngIf="!(scannerService.isScanning$|async)">
    <div class="footer-content">
        <ul class="flags">
            <!-- <li (click)="onSelectLanguage('nl')"
                class="flag"
                [ngClass]="(uiService.selectedLanguage$|async) === 'nl' ? 'language-selected' : ''">
                <img src="./../../../assets/flags/flag_nl.png"
                    alt="">
            </li>
            <li (click)="onSelectLanguage('en')"
                class="flag"
                [ngClass]="(uiService.selectedLanguage$|async) === 'en' ? 'language-selected' : ''">
                <img src="./../../../assets/flags/flag_en.png"
                    alt="">
            </li> -->
            <!-- <li class="selected-language flag">
                <img [src]="(selectLanguageService.selectedLanguage$|async)?.imageUrl"
                    alt="">
            </li> -->
            <li class="flag"
                (click)="onLanguageSelector()">
                <mat-icon color="warn">language</mat-icon>
            </li>
        </ul>
        <button class="on-scanner"
            mat-raised-button
            (click)="onScanner()">scanner</button>
    </div>
</div>
