<div class="page-container">
    <form [formGroup]="form">
        <div class="warning">Warning!</div>
        <div class="content">By deleting this venue you will also also permannently and irretrievably delete:</div>

        <mat-checkbox formControlName="items">all items within this venue</mat-checkbox>
        Including everything contained within these items such as:
        <mat-checkbox formControlName="images">the item's image</mat-checkbox>
        <mat-checkbox formControlName="audio">every item's language specific audio fragments</mat-checkbox>
        <mat-checkbox formControlName="descriptions">every item's language specific descriptions</mat-checkbox>
        Please check all boxes before deleting the venue.
        <button mat-raised-button
            color="warn"
            [disabled]="buttonDisabled"
            (click)="onDeleteVenue()">delete venue</button>
        <button mat-raised-button
            color="primary"
            (click)="onCancel()">cancel</button>

    </form>
</div>
