mat-spinner {
    margin: auto;
}
.page-container {
    min-width: 25rem;
    background-color: wheat;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    justify-items: center;

    img {
        width: 100%;
    }

    button {
        width: 100%;
    }
}
