<div class="spinner"
    *ngIf="itemDetailsService.uploadingImage$|async">
    <mat-spinner></mat-spinner>
</div>
<div class="page-container">
    <div class="editmode">EDITMODE: {{editmode}}</div>
    <input type="file"
        style="display: none;"
        #fileInput
        (change)="onFileInputChange($event)">

    <img *ngIf="imageSrc"
        [src]="imageSrc"
        alt="">
    <img *ngIf="imageUrl"
        [src]="imageUrl"
        alt="">
    <button class="delete"
        *ngIf="imageSrc || imageUrl"
        (click)="onDeleteImage()"
        mat-raised-button
        color="warn">delete image</button>
    <button class="add"
        mat-raised-button
        color="primary"
        (click)="fileInput.click()">{{editmode ? 'change selection' : 'select image'}}
    </button>
    <button mat-raised-button
        class="confirm"
        *ngIf="imageSrc"
        color="primary"
        (click)="onConfirm()">confirm selection</button>
</div>
