<div class="page-container">
    <!-- <div class="stage-name"
        [innerHTML]="(actService.stage$|async).name">
        {{(actService.stage$|async).name}}
    </div> -->
    <!-- <div class="stage-content"
        *ngIf="(selectedLanguageService.selectedLanguage$|async).abb === 'nl'"
        [innerHTML]="(actService.stage$|async).contentNl"></div>
    <div class="stage-content"
        *ngIf="(selectedLanguageService.selectedLanguage$|async).abb === 'en'"
        [innerHTML]="(actService.stage$|async).contentEn"></div> -->
</div>
