<!-- {{itemId}}
{{venueId}} -->
<div class="print-area-container">
    <div class="ids">
        <div class="venue-id">venue:&nbsp;{{venueId}}</div>
        <div class="object-id">item:&nbsp;{{itemId}}</div>
    </div>
    <div id="print-area"
        #printArea
        class="print-area"
        id="{{itemId}}">
        <div class="item-name">{{itemByLanguage.itemLS.name}}</div>
        <div class="qr-code-remote">
            <!-- <ngx-qrcode-styling [config]="config"></ngx-qrcode-styling> -->
            <ngx-qrcode-styling #qrcode
                [type]="'canvas'"
                [shape]="'square'"
                [width]="500"
                [height]="500"
                [margin]="50"
                [data]="'https://mochuco-offline-b06e7.web.app/item?venueId=' +
                                venueId +
                                '&itemId=' +
                                itemId"
                image="./../assets/Logo/2021-0705_Mochuco_-_Logo_zwart_wit_1000px.png">
            </ngx-qrcode-styling>
            <!-- data="https://mochuco-a185b.web.app/?site=mochuco&objectId={{mochucoObject.id}}&venueId={{venue.id}}" -->
        </div>
    </div>
    <div class="button-container">
        <button mat-raised-button
            (click)="onCloseDialog()"
            mat-dialog-close
            color="primary">close window</button>
        <button class="on-download"
            mat-raised-button
            color="primary"
            (click)="onDownloadQrCode()">download qrcode
        </button>
    </div>
</div>
