<mat-toolbar color="warn">
    <!-- <div class="logo" (click)="onLogo()"> -->
    <div class="toolbar-content">
        <div class="logo">
            <a routerLink="mochuco">
                <img src="./../../../assets/Logo/2021-0705_Mochuco_-_Logo_zwart_wit_1000px.png"
                    alt="">
            </a>
        </div>

        <!-- <div class="main-pages"
            *ngFor="let itemByLanguage of (itemService.mainPage$|async)?.itemsByLanguage">
            <div class="main-page"
                (click)="onMainPageSelected(item)"
                *ngIf="(languageService.language$|async) === itemByLanguage.language">
                <div class="name">{{(itemByLanguage.itemLS).name}}</div>
            </div>
        </div> -->

        <div class="main-page-name"
            (click)="onMainPageSelected()">{{mainPageName}}</div>


        <div class="user"
            *ngIf="authService.mochucoUser$|async">
            <div class="user-name">
                {{(authService.mochucoUser$|async)?.email.split('@')[0]}}
            </div>
            <div class="is-admin"
                *ngIf="authService.isAdmin$|async">*
            </div>
            <div class="logout"
                (click)="onLogout()">
                <mat-icon>exit_to_app</mat-icon>
            </div>
        </div>
    </div>

</mat-toolbar>


<!-- Chromerun://localhost:4200//?site=mochuco&objectId=Ab4lKDqIwPINclaqKR6S&venueId=00zQuHJ5pHtqjxNZv90k&browser=safari
localhost:4200//?site=mochuco&objectId=Ab4lKDqIwPINclaqKR6S&venueId=00zQuHJ5pHtqjxNZv90k&browser=firefox
microsoft-edge:localhost:4200//?site=mochuco&objectId=Ab4lKDqIwPINclaqKR6S&venueId=00zQuHJ5pHtqjxNZv90k
safari:localhost:4200//?site=mochuco&objectId=Ab4lKDqIwPINclaqKR6S&venueId=00zQuHJ5pHtqjxNZv90k

safari:https://mochuco-a185b.web.app/?site=mochuco&objectId=Ab4lKDqIwPINclaqKR6S&venueId=00zQuHJ5pHtqjxNZv90k -->
