<div class="page-container">
    <div class="navigation">
        <button mat-raised-button
            (click)="onVenues()">venues</button>
        <button mat-raised-button
            (click)="onItems()">items</button>

    </div>
    <form [formGroup]="form">
        <div class="venue-data">
            <div class="name">{{venueName}}</div>
            <div class="venue-id">{{venueId}}</div>
            <div class="item-id">{{itemId}}</div>

        </div>

        <mat-form-field>
            <input type="text"
                matInput
                formControlName="name"
                placeholder="item name"
                (keyup)="onNameChanged()">
        </mat-form-field>
        <mat-radio-group [(ngModel)]="mainPage"
            formControlName="isMainPage">
            <mat-radio-button [value]="true">main page</mat-radio-button>
            <mat-radio-button class="example-margin"
                [value]="false">secondary page</mat-radio-button>
        </mat-radio-group>
        <button mat-raised-button
            *ngIf="item"
            (click)="onImage()">image</button>
        <button mat-raised-button
            [ngClass]="{'unsaved': unsaved}"
            [disabled]="form.invalid"
            (click)="onSubmit()">{{editmode ? 'update item': 'add item'}}
        </button>
    </form>
    <div class="image-container">
        <img [src]="imageUrl"
            alt="">
    </div>
</div>
