<div class="page-container">
    <div class="header">
        <div class="select">select language</div>
        <div class="close-window"
            mat-dialog-close>
            <mat-icon>close</mat-icon>
        </div>
    </div>
    <!-- <div class="languages">
        <button class="language"
            mat-raised-button
            (click)="onLanguage(language.abb)"
            *ngFor="let language of languages">{{language.name}}</button>
    </div> -->
    <div class="languages">
        <button class="language"
            mat-raised-button
            color="primary"
            (click)="onLanguage(translatedLanguageObject.name)"
            *ngFor="let translatedLanguageObject of translatedLanguageObjects">{{translatedLanguageObject.translation}}</button>
        <!-- <button class="language"
            mat-raised-button
            (click)="onLanguage(language)"
            mat-dialog-close
            *ngFor="let language of itemService.availableLanguages$|async">{{language}}</button> -->
    </div>
</div>
